@font-face {
    font-family: "custom-font";;
    src: url('./IMFellEnglish-Regular.ttf')
}
.font{
    font-family: 'custom-font';

}
.head{
    font-size: 30px;
    font-family: 'custom-font';
    color: #fff;
    margin-left: 20px;
    text-align: center;
}
.littlehead{
    font-size: 24px;
    font-family: 'custom-font';
    color: #fff;
    margin-left: 30px;
}
.psize{
    font-size: 14.6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-left: 0px;
    margin-right: 25px;
}
.title{
    font-size: 14px;
    color: #fff;
    margin-left: 60px;
}
body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    background-image: url(./bloodborne-video-games-lady-maria-wallpaper-preview.jpg);
    background-color: #fff;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.box{
    position: relative;
    margin: 60px;
    margin-top: 120px;
    height: auto;
    background:rgba(0, 0, 0, 0.8);
}
.custom-navbar .nav-link{
    cursor: pointer;
    color: #B4B2B0;
    font-family: 'custom-font';
}
.custom-navbar .nav-link:hover{
    cursor: pointer;
    color: #fff;
    font-family: 'custom-font';
}
.custom-navbar{
    background-color:#2e2e2e;
    max-height: 60px;
    position: relative;
}
.atextcolor{
    color: #B4B2B0;
}
.navbar{
    font-size: 15.2px;
}
.nav-item{
    margin: 6px;
}
.dropdown-menu.navbg{
    background-color: #ffffff;
    border-radius: 0;
    margin-top: 10px;
}
.headnote{
    margin-left: 110px;
}
.head-margin{
    margin-top: 20px;
}
.margin{
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 30px;
}
.tmargin{
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 0px;
}
.line{
    border: none; 
    height: 3px;
    background-color:  #AB966F;
    align-items: center;
    width: 100%;
    opacity: 1;
}
li::marker{
}
